<section class="features">
	<div class="row">
		<div class="item col s12 m4">
			<h4>Feature</h4>
			<p>Some text would go here about this feature. Some text would go here about this feature.</p>
			<p>Some text would go here about this feature. Some text would go here about this feature.</p>
			<p>Some text would go here about this feature. Some text would go here about this feature.</p>
		</div>
		<div class="item col s12 m4">
			<h4>Feature</h4>
			<p>Some text would go here about this feature. Some text would go here about this feature.</p>
			<p>Some text would go here about this feature. Some text would go here about this feature.</p>
			<p>Some text would go here about this feature. Some text would go here about this feature.</p>
		</div>
		<div class="item col s12 m4">
			<h4>Feature</h4>
			<p>Some text would go here about this feature. Some text would go here about this feature.</p>
			<p>Some text would go here about this feature. Some text would go here about this feature.</p>
			<p>Some text would go here about this feature. Some text would go here about this feature.</p>
		</div>
	</div>
</section>